body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(140deg,#008000, #d4196d);
  background-image: url('https://media.vanityfair.com/photos/5eeba5533f0eac686b0fb3f4/master/pass/Black-Lives-Matter-Activists-Washington-DC.jpg'); /* Replace 'path_to_your_image.jpg' with the actual path to your background image */
  background-size: cover;
  background-position: center;

  }
  
  header {
  background-color: #030303;
  color: #df1473;
  text-align: center;
  padding: 40px 0;
 
  }
  footer {
    background-color: #070707;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  .events, .past-events {
    margin: 20px;
    color:#df1473;
  }
  
  .event{
  border: 1px solid #958b8b;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #070707;
  color:#ccc;
  opacity: 0.9;
 }

  .event h2, .event h3 {
    margin-top: 0;
  }
  
  .register-btn {
    background-color: #ff00a6;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-btn:hover {
    background-color: #0056b3;
  }
  
  .click-btn {
    background-color: #ff00a6;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .click-btn:hover {
    background-color: #0056b3;
  }
  footer p {
    margin: 0;
  }
